form{
    margin: 0 auto;
    border-radius: 10px;
    background-color: beige;
    border: 1px solid #666666;
    width: 800px;
}

.conteiner{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: 1 100px;
    width: 300px;
    margin: auto;
}

.input-group{
    width: 300px !important;
    margin: auto;
}

.btn{
    margin: auto !important;
}
/*
.contenedor{
    width: 800px;
    background-color: rgb(204, 196, 196);
    margin-top: 100px;
    margin: auto;
    border-radius: 20px;
    align-items: center;
}
*/